/*.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstLink {
    padding-top: 50px;
}

.generalLink {
    padding: 15px;
}

.summary {
    margin: 25px;
}*/